/* common shared styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.main-title { 
    font-size: 36px;
    font-weight: 800;
    color: #282828;
    padding-bottom: 20px;
}
.main-description {
    font-size: 18px;
    line-height: 27px;
    padding-bottom: 30px;
    color: rgba(20, 20, 20, 0.8);
}

/* header section style */

.header-container {
    height: 100vh;
    background-color: rgba(220, 20, 20, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
   

}
.header-container .header-content{
    padding: 250px 0px 220px 130px;
}
.header-title{ 
    font-size: 58px;
    font-weight: 800;
    color: #282828;
    padding-bottom: 30px;
}

.btn-primary {
    padding: 16px 36px;
    background-color: rgb(235, 68, 110);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
}
.btn-primary:hover {
    background-color: rgb(218, 3, 57);
}
.header-photo {
    padding: 50px 130px 0 0;
}
.header-photo img{
    width: 485px;
}

/* featured section */
.featured-container {
    padding: 70px 130px;
    text-align: center;
    
}
.featured-container > .main-title{
   padding-bottom: 10px;
}
.featured-container > .main-description{
    padding: 0 190px 15px;
}
.featured-box{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.image-left, .image-center, .image-right {
    width: 340px;
    height: 420px;
    border-radius: 300px 300px 0 0;
    margin-bottom: 15px;

}
.image-left > img, .image-right > img {
    padding: 70px 10px 0 10px;
    width: 250px;
    height: 350px;
}
.image-center > img {
    padding: 60px 10px 70px 10px;
    width: 260px;
    height: 330px;
}
.image-left{
    background-color: rgba(212, 159, 159, 0.4);
}
.image-center{
    background-color: rgba(113, 126, 145, 0.3);
}
.image-right{
    background-color: rgb(247, 247, 58, 0.4);
}

.featured-box-items a { 
    font-size: 20px;
    font-weight: 700;
    color: rgb(49, 49, 49);
}
.featured-box-items a:hover {
    color: rgb(218, 3, 57);
}
/* support section */
.support-container {
    margin: 40px 130px 120px 130px;
    padding: 50px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(40, 41, 41, 0.1);
    text-align: center;
}
.support-container img {
    padding-bottom:18px ;
}

.support-container p > a {
    font-size: 18px;
    color: #282828;
    font-weight: 600;
    text-decoration: none;
}
.support-container p > a:hover {
    color: rgb(218, 3, 57);
}

/* sale up section  */
.sale-up-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(212, 159, 159, 0.3);
    padding: 100px 160px;
    height: 40vh;
    text-align: center;

}
.sale-up-content { 
    padding-top: 35px;
}
.sale-up-content Span{ 
    color: rgb(245, 42, 92);
}
.sale-up-content > .main-description{
   padding: 0 80px 15px 0;
}
.sale-up-photo > img{ 
    width: 270px;
    height: 350px;
  
}

/* social media section  */
.social-container {
    margin: 100px 130px 40px 130px;
    text-align: center;
}
.social-container > .main-description {
    padding: 0px 200px;

}

.social-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding-top: 40px;
}
.social-content img {
    width: 260px;
}

/* Latest Deals section  */
.latest-deals-container {
    margin: 0px 140px 30px 130px;
    text-align: center;
}

.latest-deals-content {
    background-image: url('../Flower Asset/Rectangle 9.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: 100%;
    padding: 180px 250px;
}

.latest-deals-content form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-top: 15px;

}
.latest-deals-content #email {
    width: 100%;
    padding: 12px 25px;
    border-radius: 8px;
    background-color: #fff;
    border: none;
    font-size: 18px;

}
.latest-deals-content .btn-subs {
    padding: 12px 36px;
    border-radius: 8px;
    background-color: rgb(235, 68, 110);
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;

}
.latest-deals-content .btn-subs:hover{
    background-color: rgb(218, 3, 57);
}

/* Footer section  */
.footer-container {
    background-color: black;
    margin-top: 20px;
    color: white;
    text-align: center;
    padding: 100px 320px;
}
.footer-title { 
    font-size: 40px;
    font-weight: 800;
    color: #fffefe;
    padding-bottom: 5px;
}
.footer-title span{ 
    color: rgb(250, 40, 93);
}
.footer-text {
    color: rgba(255, 255, 255, 0.9);
    padding: 20px 10px;
    font-size: 18px;
}

.footer-copy{ 

    font-size: 17px;
    font-weight: 400px;
    color: rgba(255, 255, 255, 0.5);
}