/* common shared styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.main-title { 
    font-size: 36px;
    font-weight: 800;
    color: #282828;
    padding-bottom: 20px;
}
.main-description {
    font-size: 18px;
    line-height: 27px;
    padding-bottom: 30px;
    color: rgba(20, 20, 20, 0.8);
}

/* header section style */

.header-container {
    height: 100vh;
    background-color: rgba(220, 20, 20, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;

}
.header-container .header-content{
    padding: 160px 0px 147px 150px;
}
.header-title{ 
    font-size: 56px;
    font-weight: 800;
    color: #282828;
    padding-bottom: 30px;
}

.btn-primary {
    padding: 18px 36px;
    background-color: rgb(235, 68, 110);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
}
.header-photo {
    padding: 50px 150px 0 0;
}
.header-photo img{
    width: 485px;
}

/* featured section */
.featured-container {
    padding: 100px 150px;
    text-align: center;
}
.featured-container > .main-title{
   padding-bottom: 20px;
}
.featured-container > .main-description{
    padding: 0 190px 20px;
}
.featured-box{
    padding-top: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.image-left, .image-center, .image-right {
    width: 340px;
    height: 430px;
    border-radius: 300px 300px 0 0;
    margin-bottom: 15px;

}
.image-left > img, .image-right > img {
    padding: 70px 10px 0 10px;
    width: 250px;
    height: 360px;
}
.image-center > img {
    padding: 60px 10px 70px 10px;
    width: 270px;
    height: 340px;
}
.image-left{
    background-color: rgba(212, 159, 159, 0.3);
}
.image-center{
    background-color: rgba(113, 126, 145, 0.3);
}
.image-right{
    background-color: rgba(126, 123, 125, 0.3);
}

.featured-box-items a { 
    font-size: 20px;
    font-weight: 700;
    color: rgb(49, 49, 49);
}
/* support section */
.support-container {
    margin: 40px 150px 120px 150px;
    padding: 50px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(49, 42, 42, 0.2);
    text-align: center;
}
.support-container img {
    padding-bottom:18px ;
}
.support-container p {
    font-size: 18px;
    color: #282828;
    font-weight: 600;
}

/* sale up section  */
.sale-up-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(212, 159, 159, 0.3);
    padding: 100px 160px;
    height: 40vh;
    text-align: center;

}
.sale-up-content { 
    padding-top: 35px;
}
.sale-up-content Span{ 
    color: rgb(245, 42, 92);
}
.sale-up-content > .main-description{
   padding: 0 80px 15px 0;
}
.sale-up-photo > img{ 
    width: 270px;
    height: 350px;
  
}

/* social media section  */
.social-container {
    margin: 150px 150px 40px 150px;
    text-align: center;
}
.social-container > .main-description {
    padding: 0px 160px;

}

.social-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding-top: 30px;
}
.social-content img {
    width: 260px;
}

/* Latest Deals section  */
.latest-deals-container {
    margin: 0px 140px 50px 140px;
    text-align: center;
}

.latest-deals-content {
    background-image: url('../Flower Asset/Rectangle 9.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: 100%;
    padding: 180px 250px;
}

.latest-deals-content form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-top: 15px;

}
.latest-deals-content #email {
    width: 100%;
    padding: 12px 25px;
    border-radius: 8px;
    background-color: #fff;
    border: none;
    font-size: 18px;

}
.latest-deals-content .btn-subs {
    padding: 12px 36px;
    border-radius: 8px;
    background-color: rgb(235, 68, 110);
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;

}

